body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightgray;
    font-family: Verdana, Tahoma, sans-serif;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

textarea {
    display: block;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    resize: none;
    border-radius: 10px;
    
}

.keyboard {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    background-color: grey;
    border-radius: 10px;
}
p {
    margin: 20px 100px;
    font-size: 16px;
}
.lang-value {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    background-color: lightslategrey;
    margin-right: 10px;
    font-size: 18px;
}

.button_base {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: maroon;
    font-size: 16px;
    outline: none;
    border-color: transparent;
    border: 5px solid transparent;
    outline-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    
}
.button_special {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(54, 3, 3);
    font-size: 16px;
    border-color: transparent;
    outline-color: transparent;
    border: 5px solid transparent;
    border-radius: 10px;
}

button:hover {
    animation: bgcolor 1s ease;
  /*transition: background 0.8s linear;
    transition: border-radius 3.3s linear;*/
    /*background-color: rgb(248, 116, 116);*/
    /*border-radius: 30%;*/
    border-color: transparent;
    outline-color: transparent;
    border: 5px solid transparent;
    /*background: radial-gradient(rgb(83, 13, 13),rgb(80, 11, 80));*/
}


.button_push {
    background-color: cyan;
    
}

  
  @keyframes bgcolor {
    15% {
      
        background: radial-gradient(rgb(83, 13, 13),rgb(80, 11, 80));
        
        
    }
    
    50% {
        background: radial-gradient(rgb(80, 11, 80),rgb(137, 16, 153));
        
        
    }
    
    100% {
        background: radial-gradient(rgb(137, 16, 153),rgb(68, 13, 119));
        
        
    }
  }
  
  button:hover {
    
    animation: bgcolor 0.6s ease;
    animation-iteration-count: infinite;
     
     
  }
  .cals-lock {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid honeydew;
      background-color: rgb(27, 27, 27);
      border-radius: 50%;
      top: 150px;
      left: 90px;
  }
  .cals-lock_green {
      background-color: lawngreen;
  }